<div class="nav">
    <ul>
        <li><a [routerLink]="['/features/organizations']" routerLinkActive="active">My Organizations</a></li>
        <li><a [routerLink]="['/features/events']" routerLinkActive="active">Events</a></li>
        <li><a [routerLink]="['/features/labels']" routerLinkActive="active">Labels</a></li>
        <li><a [routerLink]="['/features/configurations']" routerLinkActive="active">Configurations</a></li>
        <li><a [routerLink]="['/features/settings']" routerLinkActive="active">Settings</a></li>
    </ul>
</div>