<div class="background">
    <div class="container">
        <form>
            <div class="col-sm-12">
                <label for="username">Email</label>
                <input class="form-control form-control-sm" type="text">
            </div>
            <div class="col-sm-12">
                <label for="password">Password</label>
                <input class="form-control form-control-sm" type="text">
            </div>
            <div class="col-sm-12 login__btn">
                <button type="button" class="form-control form-control-sm btn btn-primary btn-sm" (click)="goToDashboard()">Login</button>
                <p>Register</p>
                <p>Forgot Password</p>
            </div>
        </form>
    </div>
</div>