.head__section {
    position: absolute;
    right: 60px;
    top: 8px;
    display: flex;
}

.profile__pic img {
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.options {
    margin-right: 25px;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
}

.title {
    font-size: 45px;
    margin-left: 65px;
    cursor: pointer;
}