<div class="full__screen">

    <div class="row">
        <div class="col-md-4 section">
            <p-card header="Profile" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
                <div class="col-sm-12">
                    <label>Email Id</label>
                    <input class="form-control form-control-sm" type="text" disabled>
                </div>
                <div class="title">Change Password</div>
                <div class="col-sm-12">
                    <label>Old Password</label>
                    <input class="form-control form-control-sm" type="password">
                </div>
                <div class="col-sm-12 field">
                    <label>New Password</label>
                    <input class="form-control form-control-sm" type="password">
                </div>
                <div class="footer">
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>

            </p-card>

        </div>
        <div class="col-md-4 section">
            <p-card header="Account Settings" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
                <div class="title">API Keys</div>
                <div class="col-sm-12 field">
                    <label>Account Id</label>
                    <input class="form-control form-control-sm" type="text" disabled>
                </div>
                <div class="col-sm-12 field">
                    <label>API Key</label>
                    <input class="form-control form-control-sm" type="text" disabled>
                </div>

            </p-card>

        </div>
        <!-- <div class="col-md-4 section">
            <p-card header="Account Settings" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
                

            </p-card>

        </div> -->
        <div class="col-md-4 section">
        </div>
    </div>
</div>